[2016-11-21 12:26] Irio opened #2 "Test happy path of all the existing functions"

[2016-11-21 20:08] vmesel commented on #2
What are happy paths? @Irio

[2016-11-21 21:52] andrepinho commented on #2
@vmesel https://en.wikipedia.org/wiki/Happy_path

[2016-11-30 15:51] jonDel opened #5 "Fix init file"
Fix package init file by removing dummy helloworld function and including the proper import statements, making calls to functions/classes more straightforward, without the need to refer to the submodules.
Ex:

[code]

[2016-11-30 17:06] jonDel opened #7 "Treat xml2csv.py as a script"
xml2csv.py module is a script (as long as there are code embedded that is executed wherever the module is called) and must be treated properly, i.e., the setup file must specify it as a script (after the package installation xml2csv script will be added properly to the system path).

[2016-11-30 17:22] jonDel opened #8 "Create unittests"
Create unitary tests for this package. Sugestions:
- Use travis for online triggered testing at each commit;
- Use coverage and coveralls for test covering metrics.

[2016-11-30 17:25] jonDel opened #9 "Provide proper documentation"
Provide proper documentation for this package. Suggestion:
-  Use sphinx and readthedocs.io for automatic documentation building online at each commit.

[2016-12-02 16:04] #7 closed

[2016-12-02 16:23] #5 closed

[2016-12-07 12:44] #9 closed

[2016-12-07 13:19] Irio commented on #8
Test suite and Travis CI configured in https://github.com/datasciencebr/serenata-toolbox/pull/14.

[2016-12-07 22:37] cuducos commented on #8
Now that we have CI we could user coveralls.io to guide the writing of tests ; )

If it helps, Jarbas uses it.

[2016-12-07 22:43] jonDel commented on #8
I can handle that.

[2017-01-11 21:28] jtemporal opened #19 "XML parsing error while running Rosie"
@cuducos I was running Rosie and got this error below, could you review it please?!

[code]

[2017-01-12 10:52] cuducos commented on #19
Maybe the download is the problem. Just tested here and the file size is way smaller than it used to be (205M instead of~2G):

[code]

[2017-01-12 11:36] cuducos commented on #19
Probably a syntax issue with one of the XML files:

[code]

The `xmllint` (available in macOS and Linux AFAIK) can fix it for us, maybe we will miss one or other record:

[code]

However I'm not sure if this is a proper solution, I mean, to calling `xmllint` from Python in case of error. Any ideas?

[2017-01-17 18:03] cuducos commented on #19
More clues that the file is actually broken: the end of the file is in the middle of a tag…
https://gist.github.com/50df395ac13fbf7159282cb6f6c109c3

[2017-01-25 13:24] jtemporal opened #23 "Improve documentation"
Now with [this issue](https://github.com/datasciencebr/serenata-de-amor/issues/143) being worked on we need a better documentation on how each toolbox submodule works.

[2017-01-25 23:59] jtemporal commented on #19
I'm closing this since #22 fixed the parsing error =)

[2017-01-25 23:59] #19 closed

[2017-01-29 19:20] jtemporal opened #24 "Problem when fetching data from CEAP"
When running `ceap = serenata_toolbox.CEAPDataset('data/')`  I got this error `File is not a zip file`.

Same thing happened when running Rosie. I may be wrong but it is possible that is something wrong with the data.

Traceback when running Rosie with docker is [here](https://gist.github.com/jtemporal/7548458e7de0011ca2751a2b376501c3)

and the error while running the fetch with the toolbox with i

[2017-01-30 14:16] jonDel commented on #24
Did you try to check the zip file integrity outside python, like
`7za t file.zip`
?

[2017-01-30 14:23] jonDel opened #25 "Use logging module"
Use built-in logging module in order to get a structured and controllable way to output messages, instead of just using the function "print"

[2017-01-30 14:38] jtemporal commented on #24
@jonDel I believe it was a problem with the chamber of deputies server or something like that. Today I was able to fetch the data without any problems.
since this is not a problem anymore I'm closing this issue.

[2017-01-30 14:38] #24 closed

[2017-02-11 12:48] vmesel commented on #25
This is a smart move @jonDel We would save some memory not printing things that are just necessary for a log.

[2017-03-28 17:18] jtemporal opened #32 "Update reimbursements file"
We need a new reimbursements file on Amazon

[2017-03-28 22:19] #32 closed

[2017-03-29 12:28] jtemporal opened #34 "Update package versioning"
Serenata Toolbox have 19 merged PR and most of them should generate a new package version if it were a released PYPI package. We should consider update the package version at least when there is new datasets being added or updated.

[2017-03-29 14:30] jtemporal commented on #34
should see [Choosing a versioning scheme](https://packaging.python.org/distributing/#choosing-a-versioning-scheme) and [PEP440 on final releases](https://www.python.org/dev/peps/pep-0440/#final-releases).
I'm going to map later this week the version based on the changes each [merged PR](https://github.com/datasciencebr/serenata-toolbox/pulls?utf8=✓&q=is%3Apr%20is%3Aclosed%20is%3Amerged) using PEP4

[2017-03-29 15:24] jtemporal commented on #34
Following `major.minor.micro`. The proposed version updates follow this schema:
* all datasets additions were considered **minor** updates
* small changes (e.g. adding encoding) and small improvements that did not directly affect the toolbox workflow (e.g. better documentation) were considered **micro**
* bug fixes and new features (e.g. new methods and scripts) were all considered **major** chang

[2017-03-30 15:46] #34 closed

[2017-04-12 02:32] rodolfo-viana opened #37 "Up-to-date reimbursements file"
Hey everyone.

I just ran `group_receipts.py` and got fresh new set of data (`2017-04-11-reimbusements.xz`).
Should I use it locally only or you guys believe it may be useful to upload to Amazon?

Love,

[2017-04-12 05:16] rodolfo-viana commented on #37
Nah, forget it. I believe I did something wrong. 2017-04-11 is not working.

[2017-04-12 14:37] cuducos commented on #37
Happens ; )

We tend to upload new stuff to Amazon since Rosie, the core of the project, always run with freshly downloaded data — aka updated. But if you plan to open a PR to the main repo with analysis made with this version of the dataset, then we'll need it on Amazon, ok?

[2017-04-12 14:37] #37 closed

[2017-04-12 14:41] cuducos opened #39 "Test async part of Datasets module"
**If #38 is merged** the coverage points to a non-test part that is basically the coroutines:

[code]

I opened the PR as it is because I've never written unit tests for `asyncio` and studying that was postponing the new module further than I could handle. Sorry about that, guys.

[2017-04-26 16:11] jtemporal opened #42 "Add timeout or similar to Downloader"
In case the download of one or more dataset is stuck we need to have a timeout or some other sort of breaking the wait gracefully.

[2017-04-26 16:22] jtemporal opened #43 "Fix namespace of the package"
There are 3 ways of setting up a python package as [Python Package User Guide](https://packaging.python.org) gracefully shows and I copy here:

1. Use native namespace packages. This type of namespace package is defined in PEP 420 and is available in Python 3.3 and later. This is recommended if packages in your namespace only ever need to support Python 3 and installation via pip.
1. Use pkgutil-s

[2017-04-27 14:35] #43 closed

[2017-04-28 23:58] luipillmann opened #46 "Amazon credentials path"
Error when running Jupyter notebooks in **serenata-de-amor/develop** saying it could not find **config.ini** file (Amazon credentials).

[code]
We are working on implementing a simple search for the config file in the project folder.

[2017-04-29 01:15] cuducos commented on #46
Hi @luipillmann,

Can you provide more detail abou the code you're running?

Also I'm not sure what you mean by _running Jupyter notebooks in serenata-de-amor/develop_: if you're running `jupyter notebook` from that directory that is not how we thought things would work. Run `jupyter notebook` from the root, not from `develop/` (or, if you really want to run from `develop/`, copy `config.ini` from

[2017-04-29 11:53] luipillmann commented on #46
Hi, @cuducos.

We were running `jupyter notebook` from the root, where the config.ini file was placed (its content was copied from the example .ini).

What I meant is that the **.ipnb** files were run from `develop/`. It seems the program expects config.ini to be in the same folder where notebooks are.

We suppose it has something to do with line 12 in [datasets/remote.py](https://github.com/datas

[2017-04-29 15:20] cuducos commented on #46
Ow…got it. Makes sense.

This should fix it:

[code]

And replace `self.CONFIG` by `self.config`.

Sorry I can't open a PR right now, but probably something among these lines could fix. Feel free to open a PR.

On other news we could get rid of a config file and go for envvars. I initially opted to keep the config file because it was there already, but maybe this is not the best strategy. What do

[2017-04-29 18:05] caiopo commented on #46
Hi,

I talked to @luipillmann here at the sprint about having a default configuration file to be opened if a custom `config.ini` could not be found.

One of the main reasons of doing this would be that most toolbox's use cases don't require a custom `config.ini`, the default values work fine unless you need to upload something.

[2017-04-29 21:11] cuducos commented on #46
👍

[2017-05-03 12:15] jtemporal opened #50 "Missing version bump"
We missed a version bumps when merging #48 and #49

Suggestions for version bump:

#48 - `micro` - typo fix, not much trouble there
#49 - `micro` - few renaming conventions based on the changes from CEAP to Chamber of Deputies

[2017-05-03 12:22] cuducos commented on #50
Sorry, my bad. I'm not used to it **yet**. New PR bumping it twice sounds good? I'm gonna double check if changing the public API (renaming stuff) is a minor change though…

[2017-05-03 12:24] jtemporal commented on #50
@cuducos that's my idea! check it and we can discuss it =)

Yes! o/

[2017-05-03 20:21] cuducos commented on #34
Personally I like versioning convetions that focus on the public API, such as [Elm's one](https://github.com/elm-lang/elm-package#version-rules):

(What they call `PATCH` is what we call `micro`.)

What do you think about it?

[2017-05-03 20:23] cuducos commented on #50
I think that if the public API changes, it's a major version bump (I expanded I in [the relevant topic](https://github.com/datasciencebr/serenata-toolbox/issues/34#issuecomment-299023973).

[2017-05-04 09:36] jtemporal commented on #34
@cuducos that seems about right! We can go with that from now on =)

[2017-05-04 09:56] jtemporal commented on #50
Closing this in favor of #51

[2017-05-04 09:56] #50 closed

[2017-05-04 09:57] anaschwendler opened #52 "Add the script to get the Federal Senate datasets."
Ok guys, it's time.

Now that the toolbox is ready to receive a new dataset, I am working on a script to get the Federal Senate datasets.
They are pretty different from Chamber of Deputies, but we can work on it.

By now I will be fixing the final things to make Rosie works fine with this new toolbox, and then I will be working on bring the new script to the toolbox.

[2017-05-11 13:30] cuducos opened #57 "Add geolocation to the latest companies dataset"
The latest `companies` dataset (actually `2017-04-27-companies-no-geolocation.xz`) has no geolocation info. The `src/geocode_addresses.py` script can handle that ; )

[2017-05-11 15:24] anaschwendler opened #58 "Refactoring tests to its specific tasks"
This issue aims at refactoring two existent tests that are working well, but need enhancements to keep tests independent of network connection and writing to/reading filesystem.

Tests that need to be refactored:
`tests/test_federal_senate_dataset.py`
`tests/test_chamber_of_deputies_dataset.py`

@cuducos would like to help in it :)

[2017-05-11 15:27] cuducos commented on #58
Probably next week I can handle that. If anyone wants to pair on that, drop a line saying day/time it could work for you.

[2017-05-16 12:11] cuducos commented on #58
cc @lipemorais

[2017-05-16 12:14] cuducos commented on #58
Notes by @lipemorais in #53 about `def __translate_file(self, csv_path)`:

Show all reviewers

(this last comment about line 93)

[2017-05-16 12:31] anaschwendler commented on #58
We we're thinking about testing:
- Check the translations
- The `clean()` method unify all the senate datasets, maybe test if the reimbursements are getting concatenated (this is against TDD, but ¯\_(ツ)_/¯ )
- The `fetch()` method does not check if the senate website is available to fetch the datasets, maybe test it or implement something should be good :)

[2017-05-16 12:54] cuducos commented on #58
In Brazilian Portuguese TDD means  _teste depois do deploy_, right?

[2017-05-16 14:10] lipemorais commented on #58
I'm run the tests and I just realized one thing, because it's taking more time than I expect.

Test this PR would even easier with unit tests. Just fetch needs integration, translate and clean could use only use unit test with a example file. :/

[2017-05-16 14:13] anaschwendler commented on #58
@lipemorais Yes, I was talking about that tests taking so long to run yesterday in your daily meeting, and I didn't know what to do, do you have any suggestion for us? Something like a light or something? I really doesn't know what to do :T

I just really tested what I wanted to do, and didn't know how to properly refactor it

[2017-05-16 14:26] lipemorais commented on #58
I can think now in two ways:
1) I would isolate the integration point, in this case is fetch and **unit** test translate and clean with a mocked example files.

2) In a second way I would **unit** test the three steps using mock while transform the integration test into a journey test, that should test this workflow without any mocks and let it run in Travis CI.

[2017-05-16 14:28] cuducos opened #59 "Simplify public API"
IMHO our public API is quite redundant — surely redundancy can be good sometimes… so I ask does it worth it to simplify it in these terms?

Turns stuff like:

[code]

In:

[code]

Or, at least"

[code]

(And the same for `serenata_toolbox.chamber_of_deputies`).

[2017-05-16 14:32] cuducos opened #60 "Remove the link to full documentation from README.md"
… unless we focus on #23

[2017-05-16 14:54] cuducos commented on #52
Closed by #53

[2017-05-16 14:54] #52 closed

[2017-05-16 14:55] cuducos commented on #8
Closed in favor of #58 (as it discuss further details of tests enhancement and implementation)

[2017-05-16 14:55] #8 closed

[2017-05-16 14:59] cuducos opened #61 "Missing version bump"
@anaschwendler you forgot the version bump in #53 and I missed it while code reviewing. Can you fix that ASAP and open a new PR?

[2017-05-16 15:00] anaschwendler commented on #61
Sure, doing it now!

[2017-05-16 15:03] anaschwendler commented on #61
https://github.com/datasciencebr/serenata-toolbox/pull/62 that must solve it ;)

[2017-05-16 15:18] cuducos commented on #61
Closed by #62

[2017-05-16 15:18] #61 closed

[2017-05-17 10:16] cuducos commented on #60
Closed by #63

[2017-05-17 10:16] #60 closed

[2017-05-18 00:12] lipemorais commented on #58
I'm working on it. :)

[2017-05-22 15:27] rodolfo-viana opened #69 "Weekly update for reimbursement files"
I have been updating `reimbursements.xz`, `current-year.xz`, `last-year.xz` and `previous-years.xz` every week. The objective is to use updated data when running analysis locally.

The latest ones are:

- `2017-05-22-reimbursements.xz`
- `2017-05-22-current-year.xz`
- `2017-05-22-last-year.xz`
- `2017-05-22-previous-years.xz`

Considering they are too big to be attached here (> 10MB), those files

[2017-05-23 10:19] cuducos commented on #57
And the new one too (`2017-05-21`)

[2017-05-23 15:25] jtemporal commented on #69
I'm closing this one because it only exists for enlightenment purposes.

Thank you very much for this @rodolfo-viana

# ALERT
If you intend to use any of these datasets to build an notebook on keep in mind that you **will** have to provide a link to it later for reproducibility reasons since at first we **do not** intend to upload these to our S3.

[2017-05-23 15:25] #69 closed

[2017-05-24 04:03] othman853 opened #75 "Better config Coveralls for accuracy"
Hello, I hope it is not a problem to open an issue out of the blue like this.

Lately, @lipemorais was showing me this project and, as a way to try to start contributing to it, I thought it would be interesting to replace Coveralls by another quality measuring tool. My reasons behind such suggestion are in the fact that the **Coveralls UI is very confusing**, I can't quickly get a picture of what

[2017-05-24 08:41] cuducos commented on #75
Hi @othman853,

Many thanks for you suggestion. Unfortunately I tend to disagree.

This is a quite subjective matter — I use it a lot so I feel familiar in their dashboard.

This is not a Coveralls problem, it's lack of configuration. We added it only [6 days ago](https://github.com/datasciencebr/serenata-toolbox/pull/64) and so we haven't fine tuned it yet. If we [configure it in a similar way](h

[2017-05-24 13:59] othman853 commented on #75
Hello! Thanks for the answer! I believe that a Coveralls tuning would end up being more appropriate then. I'll check how it can be fixed and open a PR. Sounds good?
Do you believe that a new issue should be open or we could open a PR to solve this current issue?

Once again, thank you very much! :)

[2017-05-24 16:31] cuducos commented on #75
That's awesome ; )

If you don't mind I can edit the title of this one — I think keeping the new issue togather with this discussion could be helpful. May I?

[2017-05-24 16:58] othman853 commented on #75
Absolutely! Thank you for all the help!

[2017-05-24 20:53] #75 closed

[2017-05-25 18:19] lipemorais opened #77 "Become a project 100% Healthy"
The purpose of this PR is have 100% of Health, fixing all coding quality analyze issues.
[landscape build](https://landscape.io/github/datasciencebr/serenata-toolbox/147)

[2017-05-25 19:55] othman853 commented on #77
I just saw that Landscape is in a hiatus for Open Source projects, meaning that they may not work for a while: https://landscape.io/hiatus

[2017-05-25 22:00] cuducos commented on #77
~meaning that they may not work for a long while~

Nope. Meaning that CI is disabled for a while. We have to trigger it manually instead.

[2017-06-01 14:41] anaschwendler opened #78 "Update Brazilian Cities CSV on the latest_backup list."
We are expanding our project to cities, in order to it we must update our dataset list.

We need to add the `2017-05-22-brazilian-cities.csv` to the `latest-backup` script, in order to make the `serenata-de_amor` notebooks work.

[2017-06-03 08:35] Irio commented on #2
Closing given recent creation of https://github.com/datasciencebr/serenata-toolbox/issues/58, with more discussion around the subject.

[2017-06-03 08:35] #2 closed

[2017-06-03 13:14] lipemorais commented on #58
Hey!
Do we consider it half done with the PR #68, now it should be done for CEAP also.

[2017-06-05 04:20] lipemorais commented on #77
I ran prospector using the configuration file below:
[code]

There is any additional configuration that would be good?
Should it be running on CI too? I think that will be good to keep the healthy of the project 100%.

[2017-06-05 12:47] cuducos commented on #77
IMHO:

1. As suggested in #81 strictness should be `veryhigh`, not `high`
2. As proposed in #9 `doc-warnings` should be `true`
3. I see no reason to `max-line-length: 250`, I'd go with PEP80 default — it's better for go with something consolidates than to assume an arbitrary valu

[2017-06-05 12:47] #77 closed

[2017-06-05 16:13] #78 closed

[2017-06-06 09:02] anaschwendler commented on #59
So you think that we should work on it?
The only thing that I can say about that is that by doing that we will need to fix that in a few places, but it's ok to change that :)

@jtemporal thoughts?

[2017-06-06 19:44] mnunes opened #85 "The AWS Access Key Id you provided does not exist in our records"
I'm trying to run the very first example given in your main page: https://github.com/datasciencebr/serenata-toolbox

    from serenata_toolbox.datasets import Datasets
    datasets = Datasets('/tmp/serenata-data/')

    # now lets see what datasets are available
    for dataset in datasets.remote.all:
        print(dataset)  # and you'll see a long list of datasets!

I changed the datasets folder

[2017-06-06 20:10] jtemporal commented on #85
Hi @mnunes your question tells me there is a flaw in the documentation so thanks for that (I'll open up a issue so we can fix it later). Now about your doubts:

[code]

The code above will only print to the screen the names of all the files that we have backed up on our S3 instance. So without the key you won't be able to list it.

You can download the data by using either:
[code]
or, if you know

[2017-06-06 20:14] jtemporal opened #86 "Fix example"
As pointed out by @mnunes (thank you!) on #85, you can only list all files from the S3 if you have the AWS keys. A little fix is required on our examples on how to use the toolbox.

[2017-06-06 20:51] mnunes commented on #85
Yep, it worked, @jtemporal . Thanks.

[2017-06-06 23:15] jtemporal commented on #85
@mnunes awesome!! I'm closing this one then ;)

[2017-06-06 23:15] #85 closed

[2017-06-07 02:59] lipemorais commented on #59
If were are talking about breaking changes...

What do you all think about the idea of have just one method to have a dataset, instead of call 3 methods(`fetch`, `clean` , `translate`)? I think that it will make the use of toolbox simpler and harder to break the API again.

[2017-06-07 10:28] anaschwendler commented on #59
For me it looks real great, me and @jtemporal could totally work on it. I will only wait for her approval and attempt to do that.

So we are stating that we are to refactor @cuducos and @lipemorais suggestions, what do you think @jtemporal?

[2017-06-07 11:05] jtemporal commented on #59
Hi y'all, sorry it took me a while to get to this issue.

As far as the fix the redundancy I believe is a great thing to work now. I would tackle it first and then consider reorganizing `fetch`, `clean`, `translate`.

Does that sound like a plan?

[2017-06-07 16:34] cuducos commented on #59
I think it's a good idea, but it's **not** the focus of this issue. This issue was supposed to be a small refactor renaming some modules and classes — simple as that.

I reinforce that because I'm have been criticizing this whole public API put forward by the toolbox and I would like see a big refactor (as I said elsewhere, the `translate` method doesn't only translate etc.) and I think this is no

[2017-06-07 16:53] cuducos opened #87 "Big refactor of the public API to generate the datasets"
This issue is proposed as a roadmap to a big refactor in the public API. This issue might also work as a _whishlist_ for you who uses this toolbox and believe its API for generating the datasets could be improved. I'll suggest a to-do list in this opening post and try to keep it updated as the following discussion goes by.

The main problems with the current one has been discussed by @lipemorais a

[2017-06-07 18:43] lipemorais commented on #59
@cuducos I agree with you.

We can use baby step and have enhancements delivered in small packages.

[2017-06-08 10:50] anaschwendler commented on #59
@jtemporal @lipemorais @cuducos

So I will be working on that task today, prepare something for tomorrow, and then we check that big refactor. It is a small thing and then we can make the big refactor, as we did when introducing the Federal Senate to it.

[2017-06-08 14:43] #86 closed

[2017-06-08 20:32] cuducos commented on #59
Closed by #89

[2017-06-08 20:32] #59 closed

[2017-06-12 18:34] lipemorais opened #92 "Travis CI breaks the build after 10 minutes without any output no terminal"
Looks that after some datasets were added to Toolbox the journey test of CEAP is not able to run on Travis CI because it takes more than 10 minutes without any log.
[Broken build](https://travis-ci.org/datasciencebr/serenata-toolbox/jobs/241772071)

[2017-06-12 18:43] cuducos commented on #92
That's [Travis expected behavior](https://docs.travis-ci.com/user/common-build-problems/#Build-times-out-because-no-output-was-received) — but there's `travis_wait` if we really need it ; )

[2017-06-12 21:16] cuducos opened #93 "Error updating reimbursement files"
@rodolfo-viana [has asked](https://github.com/datasciencebr/serenata-de-amor/issues/250#issuecomment-307922622):

[code]

---

@jtemporal [has replied](https://github.com/datasciencebr/serenata-de-amor/issues/250#issuecomment-307922622):

[2017-06-12 21:17] cuducos commented on #93
[Closed](https://github.com/datasciencebr/serenata-de-amor/issues/250#issuecomment-307931739)

[2017-06-12 21:17] #93 closed

[2017-06-12 22:34] lipemorais commented on #92
Thank you for explanation.

Should we use  this feature, should we improve our tests to be faster or improve the UX/loggability?

[2017-06-12 22:35] cuducos commented on #92
As I mentioned in #87 and #91: we need to improve our tests — the journey is not merely testing, it's literally running the app ; )

[2017-06-12 22:35] #92 closed

[2017-06-17 23:02] Irio opened #95 ""Both a converter and dtype were specified" warning with chamber_of_deputies"
When using `pandas.read_csv`, you must provide a converter or a dtype, not both.

**Log**
[code]
https://travis-ci.org/datasciencebr/rosie/builds/244041874

Must be changed in
https://github.com/datasciencebr/serenata-toolbox/blob/bced7b332c486f6a20f5bbc1285cf843040c76ed/serenata_toolbox/chamber_of_deputies/dataset.py#L56-L74

[2017-06-18 18:45] Irio opened #98 "Failing tests don't make the suite/CI fail"
Current status is a test suite failing with a green flag. When running locally, I get the same errors with a zero exit code.
https://travis-ci.org/datasciencebr/serenata-toolbox/jobs/242200049

[2017-06-18 19:13] Irio commented on #98
At least few of the warnings shown are given to missing mocks. Adding them should remove message logs from the suite and let us see the real output.

[2017-06-18 19:34] lipemorais commented on #98
Could share some of the logs here? I just can see a green build :/

[2017-06-18 20:48] cuducos commented on #98
What tells you the tests are failing? Can you be more specific?

Warning messages about `config.ini` are actually expected in [tests like those](https://github.com/datasciencebr/serenata-toolbox/blob/master/tests/unit/test_datasets_remote.py#L10-L24).

[2017-06-18 20:50] cuducos commented on #98
Logs are in Travis build @Irio posted.

Being green arguably is the bug if he's right about the expectation of red for this scenario — I just can't see why he expected this test to be red.

[2017-06-19 00:43] lipemorais commented on #98
Yeah, I got it. I'm not sure which is the warning mentioned that should breaks the build.

After look at a comment here #68 I think that the warning is: `While fetching Seranata Toolbox not found file: /tmp/federal-senate-2007.csv ` inside the Travis CI log mentioned by @Irio.

[2017-06-20 14:19] cuducos opened #99 "Replace methods name starting with double underscore (use a single underscore instead)"
As [discussed here](https://github.com/datasciencebr/serenata-toolbox/pull/96#discussion_r122927316) — thanks @lipemorais and @Irio.

[2017-06-22 04:09] rodolfo-viana opened #100 "Toolbox error"
I had to uninstall Anaconda and delete my env. I installed everything back and recreated the env. But during setyp, I had a weird error. Apparently it is related to toolbox and its datasets.

Take a look:

![image](https://user-images.githubusercontent.com/25807981/27416990-47b132f8-56e7-11e7-9091-fdf72b59a8e7.png)

(I guess Windows users must change "data/" for "data\". I will try that and get ba

[2017-06-22 04:33] rodolfo-viana commented on #100
Nope. it was not "data/" or "data". I tried again and it somehow worked fine. Sorry, folks.

I am closing this embarrassing issue and probably will not talk about it anymore.

[2017-06-22 04:33] #100 closed

[2017-06-27 16:58] turicas opened #101 "Clean/convert all the data before exporting"
I think it's serenata-toolbox's responsability to convert and clean data, such as replacing `,` with `.` in `float` values, date in the format `%d/%m/%y` to `%Y-%m-%d` and so on, so [jarbas](https://github.com/datasciencebr/jarbas/), [rosie](https://github.com/datasciencebr/rosie/) and other tools don't need to bother about this kind of task.

If it's true, then we need to move code like [to_numbe

[2017-06-27 17:16] turicas opened #102 "Remove pandas dependency"
Talking to @cuducos we found out that people just wanting to use serenata-toolbox to convert data (and use it without rosie) would need pandas (and all numpy-related dependencies). This is not a good thing if you're converting this data to use on a website or a restricted deployment environment (such as Heroku), so I propose to remove pandas as a dependency if there's a library that does not depen

[2017-06-30 04:16] rodolfo-viana opened #103 "Error fetching new dataset"
I keep getting this error. Does anyone know what I am doing wrong?

![image](https://user-images.githubusercontent.com/25807981/27720735-b1482668-5d31-11e7-8738-d2eb234f3856.png)

[2017-06-30 08:56] cuducos commented on #103
Does the directory `/tmp/serenata-data/` (used in your input lines 5 and 7) exists?

[2017-06-30 14:23] rodolfo-viana commented on #103
I followed this instructions: https://github.com/datasciencebr/serenata-toolbox#example-3-generating-datasets

[2017-06-30 14:45] #103 closed

[2017-06-30 14:49] cuducos commented on #103
Hum… got it where we got it wrong. What you called instructions are merely simple examples to show the package API — not a complete user guide. I'm sorry about that. Two possible (and non-exclusive) next steps here:

1. To fetch data either create this directory (`mkdir /tmp/serenata-data`) before running these snippets or replace `/tmp/serenata-data` in the code the your local directory in which

[2017-06-30 14:54] rodolfo-viana commented on #103
I did use `data/` and it worked. And `data/` is the folder we get when we run setup. So I guess the simplest correction is to edit the text, changing `/tmp/serenata-data` for `data/`.

I will do that. Thanx, man.

[2017-06-30 17:49] cuducos commented on #101
I like this idea — and I would add that having unformatted CNPJ in `YYYY-MM-DD-reimbursements` and formatted CNPJ in `YYYY-MM-DD-companies.xz` is quite annoying. Issues like that could be addressed with default _parsers_ for the same data in multiple sources.

We just create new version of these datasets, no problem at all because previous analysis would link to the previous versions of the datase

[2017-06-30 18:04] #95 closed

[2017-07-07 22:27] jtemporal opened #106 "Missing sub quota from the final reimbursements dataset"
[We have a lot of sub quotas mapped](https://github.com/datasciencebr/serenata-toolbox/blob/master/serenata_toolbox/chamber_of_deputies/dataset.py#L103-L126)

But checking the latest reimbursements file generated on the terminal, and comparing it to the .csv file directly downloaded from the chamber of deputies @rodolfo-viana found that there is a whole subquota of reimbursements missing `(999, 'F

[2017-07-07 23:39] rodolfo-viana commented on #106
Over 20K of reimbursements and R$ 114M of `net_values`.
And I must correct something I told @jtemporal but I was mistaken: I got this not from the .csv file (which they do not update so often), but from .xml file.

[2017-07-09 13:45] jtemporal commented on #106
Just to have this documented somewhere, we know that `.xml` files aren't easy to 'read' and it is pretty interesting the tool @rodolfo-viana used to deal with the `.xml` files: [Open Refine](http://openrefine.org). Maybe someone might need this in the future ;)

[2017-07-12 13:27] jtemporal commented on #106
What is causing this isn't a bug yay 🎉

What happens is, [there is a filter that cuts out receipts with `reimbursement_value` equals to 0](https://github.com/datasciencebr/serenata-toolbox/blob/master/serenata_toolbox/chamber_of_deputies/reimbursements.py#L64) because this means that, that document was not reimbursed.

[2017-07-12 13:29] jtemporal commented on #106
Since this isn't a bug, I'm closing this =)

[2017-07-12 13:29] #106 closed

[2017-07-14 18:26] rodolfo-viana opened #108 "Add `if` statement to avoid dropping 'Flight ticket issue' expenses"
@jtemporal figured out why the dataset is missing subquota `999, 'Flight ticket issue'` (see #106). According to her findings:

It is not a bug indeed. The reason: subquota `999, 'Flight ticket issue'` does not generate reimbursement value. [According to Chamber of Deputies](http://www2.camara.leg.br/comunicacao/assessoria-de-imprensa/cota-parlamentar):

I understand the mission of this project re

[2017-07-14 18:54] cuducos commented on #108
Very good and important point, @rodolfo-viana! I'm almost sure this detail was unnoticed until now… Surely we need to take that into account.

[2017-07-17 19:26] jtemporal commented on #108
I believe it was never our intention to cut out an entire sub quota.

And I agree with this.

You are completely right! I believe the way to go here is find a way we can, cut out receipts that weren't reimbursed **and** still have the `999` sub quota expenses in our dataset.

@cuducos any ideas?

[2017-07-17 23:10] rodolfo-viana commented on #108
I believe this subquota was cut out -- not by Serenata team, of course -- during the time Chamber was setting up its second version of open data. I say that because I had read a notebook that covered `Flight ticket issue`: https://github.com/datasciencebr/serenata-de-amor/blob/master/develop/2016-08-13-irio-descriptive-analysis.ipynb

I guess that when they changed their dataset something went wro

[2017-07-17 23:18] cuducos commented on #108
Is the data available in the new version of the API or only in the XML version?

If it is, I think we simply enhance the `if` statement that excludes reimbursements with zero values to keep them **if** subquota is `999`. And surely mention that in the documentation because people will ask about that.

[2017-07-18 12:32] jtemporal commented on #108
Yes it is, I checked to find out if we were cutting it out or by any chance the chamber was. It is the filter we have that was dropping lines with 0 reimbursement value.

That was my initial idea!

[2017-07-18 12:40] jtemporal commented on #108
I took the liberty to rename this issue since we agreed on an approach to have the `999` sub quota in the final dataset ;)

[2017-07-19 09:53] rodolfo-viana commented on #108
I checked `.csv` files and compared `999` to other subquotas. It lacks three rows:

- `batch_number` (that we hardly use),
- `reimbursement_number` (ditto), and
- `document_id`

I believe `document_id` rows, as inexistent, are being dropped in `reimbursements.py`:
[code]
Is it the issue?

[2017-07-19 15:09] cuducos commented on #108
I wouldn't be so sure they are being dropped. Can anyone confirm that in the source `999` subquota have `document_id`s?

The thing is that `document_id` is not documented anywhere in their material. We **guess** it's is a kind of unique identifier for the reimbursed. As flight tickets are not actually reimbursed, maybe they never receive this identifier at all…

[2017-07-19 19:11] rodolfo-viana commented on #108
It seems this `def` drops rows of `reimbursement_number` and `document_id`, both inexistent rows in `999`.

Anyway, if I can help somehow, let me know. :)

[2017-07-19 19:19] cuducos commented on #108
So this is the problem — they don't come with a `document_id`. That's awful. Anyway… `pandas` can catch that quite easily I guess. Is that right, @jtemporal?

We're gonna have to discuss this along with Jarbas architecture too — the whole API is based on the uniqueness of `document_id`.

[2017-07-19 19:29] rodolfo-viana commented on #108
Just to explain the process I went through to come to this ideia: I downloaded the `.csv` file regarding expenses of this year, opened in Excel, picked `999` and other subquotas, looked up which rows these other subquotas have and `999` do not, and found these three mentioned above.

I am not sure if it is different in `.xml`. I believe it is not.

[2017-07-20 15:50] jtemporal opened #110 "New TSE dataset"
With PR [that fixes a bug in the TSE data scrapper being accepted](https://github.com/datasciencebr/serenata-de-amor/pull/262) we need to generate and upload to S3 the new dataset and update the toolbox list of latest datasets.

[2017-07-20 16:41] jtemporal commented on #108
I guess so, but a I'll test it today with @rodolfo-viana ;)

[2017-07-20 16:53] #110 closed

[2017-07-20 23:15] jtemporal commented on #98
since #105 was merged, I'm closing this one ;)

[2017-07-20 23:15] #98 closed

[2017-07-21 02:13] jtemporal commented on #108
Yep! a talk about Jarbas architecture is required. To have back in our dataset `999` (and also `10` and `11` for that matter) sub quota we need to study the implications and maybe revisit Jarbas whole structure. Maybe generate a separated dataset for these quotas for now could be a way.

[2017-07-21 10:31] cuducos commented on #108
Jarbas _used to have_ an composed unique ID with `year`, `applicant_id` and `document_id`. No problem in recreating something like that. I think it's a heads up about it but the first thing is to generate data, bring them in and see what crashes (in our local machines). The main question is not about Jarbas itself, is about the data (what are the unique ID for each row? just the sequential index?)

[2017-07-21 21:28] #99 closed

[2017-07-24 12:57] jtemporal commented on #46
since #114  was merged I'm closing this one! Thanks everyone :)

[2017-07-24 12:57] #46 closed

[2017-07-27 02:37] jtemporal opened #117 "Automate PyPI release"
Check whether it is possible to, upon merge, generate the files for PyPI release. And do the actual release.

The steps to generate and upload the files to PyPI are the following:
[code]

Ps.: requires twine to be installed

[2017-07-27 02:48] jtemporal opened #118 "Documentation needs update"
Installation now can be done via `pip` it can be updated

[2017-07-28 14:35] jtemporal opened #120 "Document new reimbursement dataset available"
There is a more recent reimbursements dataset available on our S3 but it isn't documented yet.

`2017-07-04-reimbursements.xz` needs to be added to our `LATEST` on `downloader.py`

[2017-07-28 18:16] #120 closed

[2017-07-31 17:58] jtemporal opened #122 "Journey tests taking too long"
As commented in [here](https://github.com/datasciencebr/serenata-toolbox/pull/121#issuecomment-318717449) by @lipemorais:

I'm not sure how to address this but it is necessary to do this sooner than later.

@lipemorais any ideas?

[2017-07-31 21:24] JoaoCarabetta commented on #87
Hey,

is someone working on it? If positive, let me know!

I think that this toolbox should aim to cover all api endpoints from the Senate and Chamber of Deputies and other congress related data. I know that it seems a quite big dream. But, with that in mind, we should think on the structure of the project to easily accept new data entries in an organized way.

With a more organized way to insert

[2017-08-07 19:40] #118 closed

[2017-08-08 15:03] lipemorais commented on #87
Hey, @JoaoCarabetta ! I'm working on it. I believe that to be able to make this we need a big unit test coverage to understand faster the impacts of each change. So to address it I'm working to have more unit tests coverage because the journey tests takes too long to give us fast feedback.

[2017-08-08 15:16] lipemorais commented on #122
My approach to address it is have correspondent tests on unit levels so will be protected from it in a faster level. Being able to have less [journey tests](https://martinfowler.com/bliki/UserJourneyTest.html).

I'm trying to follow this the approach of [test pyramid](https://martinfowler.com/bliki/TestPyramid.html) because at this moment we are suffering with the anti-patterns of it. There are tw

[2017-08-10 20:13] silviodc opened #126 "Script to Download and include Supervised Learning"
After the contribution of many people we built a gold standard as reference to indicate if a reimbursement is a generalization or not.
Example of generalization:
[5506259.pdf](http://www.camara.gov.br/cota-parlamentar//documentos/publ/1773/2014/5506259.pdf)
Not a generalization:
[5635048.pdf](http://www.camara.gov.br/cota-parlamentar/documentos/publ/2398/2015/5635048.pdf)

Our sample of reference

[2017-08-11 14:12] #117 closed

[2017-08-11 16:15] cuducos commented on #126
Hooray. Let's avoid reinventing the wheel.

Actually these 3 points are already here.. We have methods for that in `serenata_toolbox.Datasets`. The only detail is that uploading is not open to everybody for security reasons. What people usually do is to share in the PRs a link to a (temporary) storage such as WeTransfer, Dropbox, Google Drive etc. and then someone with the API keys to handle the u

[2017-08-11 16:50] jtemporal opened #127 "Deploy only after Unit tests passes"
Right now Travis tries to deploy to PyPI two time hence breaking the build in the second time.

 Maybe add a condition for the deploy only to be done if unit tests pass would be a smart choice.

[2017-08-11 18:05] silviodc commented on #126
Hi @cuducos
Thanks so much for the remarks! I will try my best to highlight the differences i would like to point in this issue.

I totally agree with you that all methods to download a determined quantity of reimbursements or full datasets **are already implemented** as well the methods to upload it using proper credentials.

Therefore, the focus of this issue is not to reinventing the wheel, but

[2017-08-11 18:19] lipemorais commented on #127
I believe that we need to be more maturebefore be able to go through a Continuous Deployment approach.

I just executed our coverage against unit tests on master branch. Here is the result:
![image](https://user-images.githubusercontent.com/5021565/29226077-0f0d8aae-7ea7-11e7-8b63-2547a4f5f61f.png)

We have 48% of coverage, I think that this number can be improved before we follow this approach, b

[2017-08-11 18:38] jtemporal commented on #127
No. The only time the deploy is executed is when a PR is accepted because of [`on: master` defined on `.travis.yml`](https://github.com/datasciencebr/serenata-toolbox/blob/854fcdc7af3f3a0fcedf58a6ed6e0f9d74422111/.travis.yml#L22)

[2017-08-11 18:50] jtemporal opened #128 "Add deploy artifacts to .gitignore"
Should we add `dist/` and `build/` to `.gitignore` file once we don't commit it?

[2017-08-11 20:13] cuducos commented on #126
Ok… first a minor comment:

I agree that we could have this receipts converted to PNG and stored. And we can upload anything we want to some storage like S3. The point is that anything uploaded there must be produced from scripts available in our repos ; )

That said, the issue is ver straightforward IMHO:

- [ ] Bring `fetch_receipt.py` to the toolbox
- [ ] Implement the code that trains Rosie as

[2017-08-11 20:27] cuducos commented on #127
@lipemorais raised a very important point: _we need to be more mature before be able to go through a Continuous Deployment approach_. (BTW can you spot why your and [our CI](https://coveralls.io/github/datasciencebr/serenata-toolbox?branch=master) reports say 48% but our badge on top of the `README.md` says 87%?)

Anyway… going for a CI approach with this low level of coverage is indeed crazyness.

[2017-08-11 20:28] cuducos commented on #127
In addition: the best we can do about the terrible coverage is what @lipemorais is beautifully doing: writing more and better tests for the toolbox ; )

[2017-08-11 20:34] cuducos commented on #128
IMHO it makes sense ; )

[2017-08-11 20:36] jtemporal commented on #127
In a call earlier today, we agreed that this would be an "ideal" approach. But we haven't figured out how to do so using travis the way it is today. Hopefully the [beautiful travis build stages](https://docs.travis-ci.com/user/build-stages) will be out of beta pretty soon so we can improve our deployment status.

We also agreed that it is smarter to release a new version only after journey tests p

[2017-08-11 20:36] jtemporal commented on #127
+1

[2017-08-11 20:40] cuducos commented on #127
It's quite simple, I guess. Replace:

[code]

By

[code]

And remove these lines:

[code]

_I guess…_

[2017-08-11 21:15] lipemorais commented on #127
I have a guess that this higher number is because we send not just unit tests but journey tests on coverage reports.

[2017-08-11 21:19] silviodc commented on #126
Continuing...

Do you mean, you would like to do this workflow in our machine in order to upload the result to storage?
First workflow:
1. take the file csv with the references,
2. download the pdfs,
3. transform pdfs to png
4. generate the folder structure `(training[positive, negative] | validation[positive/negative]`
5. finally upload to storage?

Second workflow:

1. Download the previous refe

[2017-08-11 21:30] lipemorais commented on #128
I agree that it should be in `.gitignore` too. :+1:

[2017-08-11 21:58] lipemorais commented on #127
I am very biased by the [build stages approach](https://docs.travis-ci.com/user/build-stages) since we are not able to use it right now I agree with @cuducos that we should merge booth, unit and journey tests, execution. This will avoid this kind of situation making us choose which test suite should trig deploy.

The parallel gain that we have with unit and journey tests running paralleled are ver

[2017-08-12 10:54] silviodc commented on #126
Just clarifying the last part of my previous comment.

Considering this part, take a look in this suspicious reimbursement found by [Rosie](https://twitter.com/RosieDaSerenata/status/861857072769531904)

Probably at the beginning we will build the references classifying it as a positive suspicious. We will have a stored image and our models will use it during the training. What is fine.

However,

[2017-08-22 14:57] jtemporal opened #135 "Deployment ideas"
With #134 almost good to merge, I would like to raise a question already raised [here](https://github.com/datasciencebr/serenata-toolbox/pull/131#issuecomment-324026373) and described bellow.

Today our deploys to PyPI are made whenever a PR is [merged into master](https://github.com/datasciencebr/serenata-toolbox/blob/d53d3f365d49dc2328ff83762be1328a932a1a0d/.travis.yml#L22). And that's pretty go

[2017-08-22 14:57] jtemporal commented on #135
I like a lot the idea 2. =)

[2017-08-22 14:59] anaschwendler commented on #135
I'm tending to prefer the second idea, too :)

[2017-08-25 12:30] jtemporal opened #136 "Issue Template"
Hi as many know, it can be scary to give your first contribution to open source. And sometimes you may need help to start contributing to a new project.

Thinking of that and reading [First Timers Only website for hints](http://www.firsttimersonly.com) we thought would be nice to do two things:

1. Create the `first-timers-only` label: Done
1. Create a template to help people opening up a new issu

[2017-08-25 12:46] anaschwendler commented on #136
@jtemporal
Maybe in the first line you can use:

Issue Template -> Here add the name of the Issue/ Pull Request

"This template is here to help you to write your issue ;)" -> introduce here the problem

And it is OK to me ;)

[2017-08-25 12:51] rodolfo-viana commented on #136
As a newbie, I just want to say it warms my heart to see this going on.

[2017-08-25 13:01] renatooliveira commented on #136
Here at @labcodes we use checklists for everything. We don't have an issue template but here is our pull request template

https://gist.github.com/renatooliveira/09418592b8891f663f3060f2f61e891f

[2017-08-25 13:01] cuducos commented on #136
At first I must say the _only_ in _first timers only_ bugged me — specially in these two hypothetical scenarios:

* We find out about a simple bug, open an issue and label it _first timers only_. Later on we find out that big is blocking something else and should de fixed ASAP. So this creates an urgency that doesn't have a fit with waiting for a first timer contributor to pop in. We'll have to fi

[2017-08-26 10:32] Lrodlima commented on #136
I just loved !

[2017-08-29 10:56] cuducos opened #138 "Chamber of deputies: ValueError: could not convert string to float"
When trying to `translate` the chamber of deputies files I'm getting a `ValueError: could not convert string to float` error. It's related to thisconverter:

[code]

<details>

[code]

</details>

 One idea is to using the `decimal` argument in the `read_csv` instead of a function to handle the conversion of number such as `3,1415` to `3.1415`.

In spite of that I must confess it might be an exter

[2017-08-29 18:04] rodolfo-viana commented on #138
Coincidently I have just found the same error:

[code]

[2017-08-29 18:09] rodolfo-viana commented on #138
By the way I checked every `.csv` file and they use `,`. So I believe they did not change the format.

[2017-08-29 18:40] cuducos commented on #138
Fixed by #124

[2017-08-29 18:40] #138 closed

[2017-08-31 20:56] cuducos commented on #136
Closed by #137

[2017-08-31 20:56] #136 closed

[2017-08-31 20:58] cuducos commented on #127
Closed by #134

[2017-08-31 20:58] #127 closed

[2017-08-31 22:11] lipemorais opened #140 "Could we use Pytest to help address the problems with total testing time for journey tests?"
**What is the problem?**
[Journey tests takes too long to run](https://travis-ci.org/datasciencebr/serenata-toolbox/builds/270581133).
<img width="941" alt="screen shot 2017-08-31 at 19 08 24" src="https://user-images.githubusercontent.com/5021565/29947411-d2dc758e-8e7f-11e7-98bd-075a83fd38a0.png">

**How can this be addressed?**
I believe that the `--durations` of [Pytest](pytest.org) can help us

[2017-08-31 22:15] cuducos commented on #140
I'd love to see `pytest`around however I still think that the problem of `journey` is clearcut: we literally download more than 2MM reimbursements from the government serves. This is not what tests are for.

If we `mock` this downloads with useful subsets of real data ad fixtures, the waiting time is fixed IMHO.

[2017-08-31 22:23] lipemorais commented on #140
@cuducos I completely agree with you. We need to start somewhere. I see this as very effective way to prioritize which tests attack first and will give us more return over our investment.

What do you think, @cuducos and @jtemporal ?

[2017-08-31 22:26] cuducos commented on #140
Nothing _against_ `pytest`, feel free to go on ; )

[2017-09-02 17:38] trmendes commented on #87
@lipemorais @JoaoCarabetta are you guys still working on it?!

[2017-09-03 02:39] lipemorais commented on #87
@trmendes Hell yeah! This week I open a PR to cover Chambers Deputies module in #124 and some other improvements around tests like #134.

Would like to help us on this?

[2017-09-06 20:17] trmendes commented on #87
@lipemorais I would like to help! Learning Python here and it is nice to have a project like this one to help.

[2017-09-21 18:57] #128 closed

[2017-09-22 20:56] lipemorais opened #146 "What should our tests do?"
**What is the problem?**
I can see through some PR's decisions that the definitions of tests are differents. Specially about what should journey tests cover and do.

**How can this be addressed?**
I believe that after a discussion a simple Markdown file inside the project could keep this definition inside the project.

**Who could help with this issue?**
I think that @Irio @jtemporal @cuducos @ana

[2017-09-25 17:27] cuducos commented on #146
Taking my first guesses:

The toolbox tests should assert that given an expected input (e.g. a fixture simulating the structure of a real world a dataset) the output is what we wanted.

Unit tests should test each function/method, isolating it from any environment or side-effect (use and abuse of mocks, for example).

They should depart for a controlled input (fixtures) to test the integration os

[2017-09-25 22:06] lipemorais commented on #146
The Serenata Toolbox tests should protect us from our on mistakes providing safety to move on and help us keep everything working while we keep improving our project.

The unit-tests should cover the smallest unit of code. Unless it covers a piece of code that don't have coverage. What happens on project that do not have 100% of code coverage and is usual.

In my vision it has two principal values

[2017-09-27 09:45] cuducos commented on #146
Experience has shown us that relying on external services (specially on government one I might add) is problematic: they are unstable, they change format/encoding without warning, etc.

This argument actually  goes both ways: on the one hand we must get used to see our CI red not because we messes up, but because these external servers did it. On the other hand we must be sure the toolbox works wi

[2017-09-27 17:27] lipemorais commented on #146
There is a advantage of `monitor` the external service that is know as soon as possible the changes on their side.

I believe that will depends on the kind of break.
- If it's for instability of external service. We should move on.
- If it's for format changing or encoding. We should **not** move on.

We should not be stopped by instability just for really breaking changes from the external servic

[2017-09-27 17:40] cuducos commented on #146
This in in fact important… however IMHO it's not the role expected from the test suite.

[2017-09-27 18:35] lipemorais commented on #146
Which alternative do we have to keep this important point and a suite that do not have external dependencies?

I can think a pipeline like:

`unit-test` => `mocked-integration-tests` => `deploy` => `integration-tests-with-**real-external-service**`

Or  have  just:

`unit-test` => `mocked-integration-tests` => `deploy`

and a second stuff like [status.io](https://status.github.com/messages) specif

[2017-09-27 19:18] jtemporal commented on #146
The toolbox today depends on third parties to work right, or at least every time that we open up a new PR we are open to a red CI because of third parties like @cuducos said:

I think the ideal question is: How to test everything without going crazy on testing?

given an input the output is what is expected

the minimum amount of code, e.g.: a function that translates should receive a dataset in p

[2017-09-28 22:43] anaschwendler commented on #146
The tests must cover all the inputs generating expected outputs, but not only that, I think that we need to think about the behavior and use the tests to try easier ways to perform the system as it is.

Little slices of code, as @jtemporal said.

The behavior that toolbox should perform to other repos. But at this point I don't know if we should work for a repo that make everything works, or we st

[2017-09-28 22:52] anaschwendler commented on #58
Ok, I'll close it ;)

[2017-09-28 22:52] #58 closed

[2017-09-30 15:56] Irio commented on #146
@cuducos' comment summarizes well my view on the topic.

When removing "real integration" tests, we lose the ability to know when the Congress changes its file formats or becomes offline (which happened often in the past months, affecting our project in multiple instances). They could be replaced by a simple status page, as mentioned before, with online status (on/off) and some sanity checks on th

[2017-09-30 17:50] starknx commented on #57
How is generated this dataset? I looking for something like this to a geomarketing software..

[2017-09-30 22:03] cuducos commented on #57
Hi @starknx – my fault, sorry… the script mentioned is in [the main repo](http://github.com/datasciencebr/serenata-de-amor).

[2017-10-02 15:17] jtemporal opened #148 "Add PyPI label to README"
**What is the problem?**
We currently do not have our pipy version badge on the README, something like the image bellow:

<img width="105" alt="screen shot 2017-10-02 at 12 04 53 pm" src="https://user-images.githubusercontent.com/6595551/31084706-881e1462-a76b-11e7-98a5-8bd65de268c4.png">

**How can this be addressed?**
A pull request adding the pipy badge to README.md maybe using [Shields](https:

[2017-10-02 15:20] marius92mc commented on #148
I will try this. 👍

[2017-10-02 17:36] #148 closed

[2017-10-03 00:46] jtemporal opened #151 "Add Donate badge"
**What is the problem?**
We don't have a donate button 😱

**How can this be addressed?**
Add a button donate button to the README file

It something like ![donate](https://img.shields.io/badge/donate-apoia.se-EB4A3B.svg) linked with [Serenata's Apoia.se Campaign](https://apoia.se/serenata). I generated that badge with [Shields.io](https://shields.io).

**Who could help with this issue?**
Anyone re

[2017-10-03 01:02] jtemporal commented on #151
Code for the badge mentioned: `![donate](https://img.shields.io/badge/donate-apoia.se-EB4A3B.svg)`

[2017-10-03 09:58] subkrish commented on #151
@jtemporal Can I do this issue?

[2017-10-03 14:23] lipemorais commented on #146
My conclusion with this is that even that when we have an instability from externals we should move on without this checks. Like a `nice to have` but not a `must have`.

[2017-10-03 17:52] cuducos commented on #146
Yes… as far as I got these checks are not part of automated tests. They're something else ; )

[2017-10-03 18:43] cuducos commented on #151
Closed by #152

[2017-10-03 18:43] #151 closed

[2017-10-03 18:54] Ilozuluchris commented on #25
@jonDel @vmesel  Noob question:Can you give examples of messages that should be logged and not printed.

[2017-10-03 20:23] cuducos commented on #25
Except when we're doing a kind of _progress bar_ (not sue if we do it here in the toolbox, but in general that would be a print with `end='\r'` kwarg) I believe logging would be better…

[2017-10-06 23:17] kevinchiang commented on #102
I'd like to try this.  Is the idea to also remove numpy?  I see very few usages outside of using it in pandas arguments.

Should I go ahead and use the rows library?

[2017-10-07 06:24] cuducos commented on #102
Yep, I guess this is the idea — you've got it ; )

Make yourself at home

[2017-10-07 09:06] viniciusartur commented on #122
If the bottleneck is downloading files, what prevents us of considering the fact of this files don't change too often, storing them as we download for the first time and creating a mechanism to check if they changed and downloading the newest versions?
This approach could make the tests faster, so we could run tests frequently.

[2017-10-07 12:17] cuducos commented on #122
As discussed in #146 I believe the bottleneck **is not** downloading the files. Downloading them is something that blocks the CI test suite to finish successfully. For instance we missed 6 PyPI releases (in theory done automatically by the CI) because of instabilities of external services.

This is one issue: depending on external services — and this should be eliminated (again as discussed in #14

[2017-10-07 12:19] cuducos commented on #135
I think we are good with the 2nd… closing by inactivity then  ; )

[2017-10-07 12:19] #135 closed

[2017-10-07 12:20] cuducos commented on #140
Closed by #142

[2017-10-07 12:20] #140 closed

[2017-10-12 00:21] arioston commented on #42
Hi,

What you need is a simple timeout and an error message or need something more elaborate ?

Remove ["timeout=None"](http://aiohttp.readthedocs.io/en/stable/client.html#timeouts) will make the connection use default timeout, this is one solution.

[2017-10-12 01:00] cuducos commented on #42
I think the best approach wouldn't be to simply _remove_ [this `timeout=None`](https://github.com/datasciencebr/serenata-toolbox/blob/master/serenata_toolbox/datasets/downloader.py#L107). Instead I'd say that we user instantiate `Dataset` they could use a kwarg to customize it if they want. If they don't pass we assume it to be `None`. What do you think?

[2017-10-13 19:08] silviodc opened #155 "Fetching amendments and votes from Chambers API"
**What is the problem?**
This issue aims to include new datasets in the serenata-toolbox, which are:

- [ ] The new laws and amendments proposed by the deputies.
- [ ] The amendments voted by the deputies.

This third party github project gives a brief idea: [vitorbaptista/dados-abertos-camara.gov.br](https://github.com/vitorbaptista/dados-abertos-camara.gov.br)

The final dataset can helps in som

[2017-10-15 04:31] jcemelanda commented on #25
As it wasn't assigned to anyone I implemented the changes in PR #156 .

[2017-10-21 21:58] gr2m commented on #136
Hey I just found out about this by chance :) I think you’d enjoy https://github.com/apps/first-timers let me know if you have any questions

[2017-10-27 18:13] brenoarosa commented on #155
Hi guys,
As I commented on the telegram group I'm willing to try to work in this issue.
I have zero familiarity with this code base so this may take some time and lots of reviews. But from what I looked so far it is pretty simple.
My priority is to download proposition votes but I think we can set some base code to access chamber's API which we could iterate over.

[2017-10-27 18:16] silviodc commented on #155
Hi @brenoarosa

I'm very happy to see you message :D
So, before i was trying to get the votes and amendments by the **deputy_id**, however it is not possible using the Chamber's API. Could you please to include it in the data you are going to fetch ;)

Best Regards,
Silvio

[2017-11-07 18:28] cuducos opened #159 "API for a high level version of the datasets"
**What is the problem?**

Dealing with the CSV generated by the toolbox is not trivial: before `pd.read_csv` we need to define a lot of `dtype`, in Jarbas we spent a bunch of lines of code deserializing data (converting strings to date objects, to integers and floats).

**How can this be addressed?**

@turicas and I talked today and he suggested that the toolbox could offer an API not only to gene

[2017-11-29 13:13] cuducos commented on #146
Archived by inactivity — anyone is free to re-open when needed ; )

[2017-11-29 13:13] #146 closed

[2017-11-29 17:19] cuducos commented on #42
Closed by #160

[2017-11-29 17:19] #42 closed

[2017-11-29 17:34] cuducos opened #161 "Fix README.rst mal formatted lines"
**What is the problem?**

Some code blocks are not formatted as expected:

<img width="981" alt="pasted_image_29_11_17_15_32" src="https://user-images.githubusercontent.com/4732915/33389612-a01b84e6-d51a-11e7-8a35-56da9e42e90c.png">

**How can this be addressed?**

Checking reStructuredText syntax.

**Who could help with this issue?**

Anyone interested I guess ; )

[2017-11-30 16:02] Zubru22 commented on #161
Hi there!
First-timer here, I cloned the repo, created branch for this issue, fixed those two block and I commited the changes. How do I push it to your repo? Sorry for noobie question but it's my first commit to a project which isn't mine :)

[2017-11-30 16:11] anaschwendler commented on #161
Hi @Zubru22, welcome to our project!

There is totally no problem in asking, we are here to help!

You can read more about opening a PR (the way to push it to the repo) here: https://github.com/datasciencebr/serenata-de-amor/blob/master/CONTRIBUTING.md#the-basics

To open a PR to our project you must change it to a new branch:
[code]

And push the content to the branch of your fork:
[code]

And th

[2017-11-30 16:16] Zubru22 commented on #161
@anaschwendler, I'm glad I could help even with something as trivial as fixing readme. Commiting to a project always seemed scary to me. I figured it out that I need to fork your project, push it to my fork and then create pull request. Already done it. Thanks :)

[2017-11-30 18:46] anaschwendler commented on #161
Closed by #164

[2017-11-30 18:46] #161 closed

[2017-12-01 12:02] anaschwendler opened #165 "Include campaign donations datasets"
**What is the problem?**
Now that we already collected the dataset of campaign donations, we need to add them to the toolbox.

**How can this be addressed?**
Someone with access to the AmazonS3 with the datasets.

**Who could help with this issue?**
@cuducos

Datasets:
[Candidates](https://drive.google.com/file/d/1bVkJ9u6wIYdk3_gWZmP0OYwWFl3ISBvN/view?usp=sharing)
[Committiees](https://drive.googl

[2017-12-01 16:45] #25 closed

[2017-12-04 10:54] allan-silva opened #168 "[Question] New contributors"
Hey, that is a cool project!
There are, for new contributors, specific issues? Or , there is another place where issues available for community are listed?

[2017-12-04 11:26] cuducos commented on #168
Hi @allan-silva,

Usually we have the [first-timers only](https://github.com/datasciencebr/serenata-toolbox/issues?q=is%3Aopen+is%3Aissue+label%3Afirst-timers-only) labels on our repo, but right now there's no issue in the toolbox itself. Maybe you can look the ones on the other repos:

* [Serenta de Amor](https://github.com/datasciencebr/serenata-de-amor/issues?q=is%3Aopen+is%3Aissue+label%3Afirs

[2017-12-04 11:30] cuducos commented on #168
Also, if you're a beginner, you might want to take a look in our [main repo contributing guide](https://github.com/datasciencebr/serenata-de-amor/blob/master/CONTRIBUTING.md
) and in [this post with a bit of our architecture](https://datasciencebr.com/how-does-one-contribute-to-serenata-de-amor-operation-36e3e7b38207
) 🎉

[2017-12-04 11:35] allan-silva commented on #168
Thanks @cuducos, I'll take a look! Currently I contribute with other open source projects, but serenata de amor seems a very interesting brazilian project.

[2017-12-04 11:35] #168 closed

[2017-12-04 11:36] cuducos commented on #168
We're glad to have you around here ; ) Make yourself at home.

[2017-12-04 14:19] #165 closed

[2017-12-05 19:11] turicas commented on #159
Check possible values for `installment` column (is it an integer?).

[2017-12-05 20:31] turicas commented on #159
I'm implementing this on: https://github.com/turicas/serenata-toolbox/tree/feature/dataset-reader

[2017-12-05 20:39] turicas opened #171 "Access denied when executing example on README"
**What is the problem?**
Got access denied when executing this code from README:

[code]

**How can this be addressed?**
Use the correct filename (may need to upload the file again or make it public).

**Who could help with this issue?**
I'm going to fix it.

**Labels**
[first-timers-only]  [bug]

[2017-12-07 16:59] jtemporal opened #173 "Failing to import "log""
**What is the problem?**
Updated the serenata-de-amor environment with the toolbox `12.4.0` and got the following error:
<img width="986" alt="screen shot 2017-12-05 at 5 56 58 pm" src="https://user-images.githubusercontent.com/6595551/33727431-245f0120-db5f-11e7-81a9-f70ba0105433.png">

**How can this be addressed?**
Don't know

**Who could help with this issue?**
@anaschwendler

**Labels**
[bug]

[2017-12-07 17:01] anaschwendler commented on #173
It was my fault 😅

When merging #163 instead of bumping the version, I kept the same, so that didn't build up, fix in #174

[2017-12-08 14:06] #171 closed

[2017-12-10 22:06] cuducos opened #176 "Rename .xz to .csv.xz"
As suggested by @turicas [here](https://github.com/datasciencebr/jarbas/issues/298):

[2017-12-10 22:09] cuducos commented on #176
Just a quick note to anyone interested in this issue: this change will potentially broke a lot of stuff, for instance every notebook on `serenata-de-amor` loading `.xz` files, every script on `serenata-toolbox`, `jarbas`, `rosie` and `whistleblower` opening `.xz` files…

I do believe that adding the proper extension is helpful and we should do it any of these days. But this must be coordinated alo

[2017-12-26 13:07] anaschwendler commented on #173
Closed by #175

[2017-12-26 13:07] #173 closed

[2018-03-13 18:23] mnunes opened #183 "Cannot download the datasets"
I installed `serenata-toolbox` module. The module and its dependencies are all up-to-date. I can import the module without any problem. However, when I try to use the `Datasets` function, I get the following error:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/local/lib/python3.6/site-packages/serenata_toolbox/datasets/__init__.py", line 54, in

[2018-03-13 19:20] cuducos commented on #183
Many thanks for reporting the bug, @mnunes. Recently we made some changes, there are some undocumented stuff and probably some nasty bugs. I'm gonna take a closer look today.

[2018-03-15 18:52] #183 closed

[2018-03-15 19:26] anaschwendler opened #186 "Problem when downloading datasets from our servers"
This template is here to help you to write your issue ;)

**What is the problem?**
Apparently, when you download the datasets from our servers, it still returns an error:

![image](https://user-images.githubusercontent.com/4131432/37486363-041d339a-286d-11e8-8a43-e45b7e7efdca.png)

**How can this be addressed?**
I seem that only by changing `serenata-toolbox/datasets/remote.py` line 57 for:
[code]

[2018-03-15 19:27] cuducos commented on #186
Totally agree with the proposed solution. That's something I should have noticed myself and changed in #184. My bad, I missed it.

[2018-03-28 11:59] mnunes opened #188 "Is there a data dictionary for the chamber of deputies reimbursements?"
**What is the problem?**
I couldn't find a data dictionary for the chamber of deputies reimbursements provided by serenata toolbox. For example, I am not sure about the difference between the columns 'document_value', 'remark_value', 'total_net_value', and 'total_value'. I found this [cached link on Google](https://webcache.googleusercontent.com/search?q=cache:30SVdotP9M0J:https://github.com/datas

[2018-03-28 12:08] cuducos commented on #188
Sure thing! [Here’s the offical page on that](http://www2.camara.leg.br/transparencia/cota-para-exercicio-da-atividade-parlamentar/explicacoes-sobre-o-formato-dos-arquivos-xml) in pt-BR. In `research/src/` there’s a script to translate it : )

[2018-03-28 12:08] #188 closed

[2018-03-28 12:10] mnunes commented on #188
My bad. Thanks.

[2018-03-28 13:07] cuducos commented on #188
Not bad at all, good question! No worries

[2018-04-06 03:47] marceloabk opened #189 "Error trying to download 2016-08-08-datasets-format.html"
**What is the problem?**
I'm trying to install [serenata-de-amor](https://github.com/okfn-brasil/serenata-de-amor) via docker. When suddenly got this error message:

[code]

When I accessed the root [link](https://nyc3.digitaloceanspaces.com/serenata-de-amor-data/) of error and traced back the code, I found that there is a file in the LATEST list at the [Downloader Class](https://github.com/okfn-b

[2018-04-10 19:40] #189 closed

[2018-06-06 20:57] turicas commented on #159
All the datasets in Brasil.IO will use the datapackage specification ([for more info, see this milestone](https://github.com/turicas/brasil.io/milestone/3)) and I think it could be the default way to access data in Serenata also (there are libraries to deal with it automatically so we don't need to create converters, just the datapackage spec). What do you think?

[2018-09-03 14:22] willianpaixao opened #195 "function test_download_no_file() duplicated"
Hello,

is there any reason why `test_download_no_file()` in `tests/unit/test_datasets_downloader.py` is duplicated (currently lines 47 and 84)?

I don't know if any change is expected in the second execution or just a copy and paste error. If the first option is true, a comment explaining would be nice.

Kind regards,
Willian Paixao

[2018-09-03 14:49] cuducos commented on #186
I don't think so. There are only 3 occurrences of _bucket_ and if you're unable to reproduce it, I guess it is already fixed ; ) Tks

[2018-09-03 14:49] #186 closed

[2018-09-03 18:28] cuducos commented on #195
Probably some clumsy copy & paste. We can safely delete one of them ; ) Good catch

[2018-09-04 10:59] #195 closed

[2018-09-04 12:21] willianpaixao opened #197 "Dataset checksum and avoid download duplicate"
**What is the problem?**
The process of downloading datasets takes quite a long time. The downloader class is not very effective. (Ref #87)
Plus, if retriggered, the script will re-download the files even if the local version exists and is not corrupted.
This way, running all tests takes a long time, even if you already have the datasets. (Ref #122)

**How can this be addressed?**
- [ ] Rewrite fe

[2018-09-04 12:44] cuducos commented on #197
I think there's a little bit of confusion here and there.

Yes, it deals with a lot of data so this is basically normal. I wouldn't worry about that. It downloads roughly 10 datasets with 300k lines each,  cleans them, translate them, so it's just normal to take a few minutes as it does. To sum: this is not an issue IMHO.

In my opening post I don't recall questioning the effectiveness of the down

[2018-09-04 13:12] willianpaixao commented on #197
This could still be speed up with `async` tasks and maybe "last modification date" of the files. No need to re-download a file that is untouched for years. The checksum can also help on that.

That was my summary of the whole issue discusstion and code review. I didn't say you said that.

My appologies, didn't mean to sound rude. 😭

Yes, I mixed up things. `async` or another library can paralelize

[2018-09-04 13:17] willianpaixao opened #198 "Add checksum file of datasets to the bucket"
A simple plain text file containing the MD5SUM of the datasets generated would improve both the credibility of the data and later speed of re-processing unchanged data.

[2018-09-04 13:20] cuducos commented on #197
From our experience, we cannot trust the file date, but again: the checksum and `asyncio` (as we did in the `downloader.py`) are indeed great ideas!

No means… I disagree with the arguments, not with your manners. I'm sorry too ; )

Hahaha… so let's go for a few atomic issues: Refactor downloads using `asyncio`, implementing checksum (not sure hwo to do it on Spaces side but anyway), and for Dask

[2018-09-04 13:21] willianpaixao opened #199 "Process datasets with Dask"
As discussed in #87 and #197, [Dask](http://dask.pydata.org/) would improve the way Serenata handle its datasets. This ticket discusses it's refactoring.

[2018-09-04 13:23] #197 closed, assigned to nobody

[2018-09-04 13:58] willianpaixao commented on #198
Either one simple bash command or using Python's [hashlib](https://docs.python.org/3/library/hashlib.html).

Yes, you can either add one checksum file per dataset or one "checksum summary" file that contains one hash per line [example](http://debian.c3sl.ufpr.br/debian-cd/current/amd64/iso-dvd/MD5SUMS)

[2018-09-06 10:02] willianpaixao commented on #198
@cuducos proceeding to the implementation, as mentioned above, there are two possible ways:
1. using python and therefore generating the checksum right after creating the dataset.
2. use a bash command to generate the checksum for all files (datasets) in a folder and upload it to the bucket.

The 1. option would affect the output folder (usually `data/` for all developers) while the 2. option woul

[2018-09-06 13:01] willianpaixao opened #200 "serenata-toolbox cli"
I don't know why, every time I want to download or list the datasets, I go straight to the command line and run `serenata-toolbox update` then I get surprised when I get a `bash: serenata_toolbox: command not found`. I spend one full minute thinking what happened to my binary to then remember that it doesn't work like that, you need to create and run a small python script that can be found in the

[2018-09-06 13:08] cuducos commented on #200
No reason why except nobody has ever suggested that before : )

I think that most of the use the toolbox use cases in our case is inside other scripts (aka Rosie), but I do believe a CLI is useful to people who would like to get the datasets outside Rosie pipeline. Wonderful idea.

[2018-09-06 13:09] cuducos commented on #198
I like this idea. The code, the know-how is shared with the community and nothing hidden in the core developers world ; ) Yet some minor checksum files should not be an issue to developers IMHO

[2018-10-01 09:34] willianpaixao commented on #87
While working on #199 I stumbled upon this ticket and here I want to update and make some considerations.

Regarding "rewrite fetch, translate, clean into more atomic methods, with really simple logic and adding more methods if needed" I am facing the same problem. Those methods are a bit confusing and each dataset (chamber and senate) has a different implementation. My intention is to make little

[2018-10-01 09:36] willianpaixao commented on #176
I can implement this feature together with #199.
But almost sure that some refactoring will be needed in Rosie and Jarbas, correct?

[2018-10-01 12:54] cuducos commented on #176
I think minor adjustments in Rosie, and just updating docs in Jarbas is enough : )

[2018-10-01 13:44] cuducos commented on #87
Great start — many thanks, @willianpaixao : )
I added minor comments to your WIP commit, hope they are helpful!

[2018-10-09 21:02] disouzaleo opened #202 "README.rst broken links related to generating datasets"
It seems that the **README.rst** have some broken links related to the older version of the original Serenata de Amor repo, mainly those related to the generating the datasets section. The **CONTRIBUTING.md** at the /research/ at Serenata seems to not exist anymore.

With some explanation where this info can go, I can fix this.

[2018-10-10 13:10] cuducos commented on #202
Hi @Lrodlima, many thanks for this issue.

I just made a bit of Git-archeology and found the (purportedly) last version of the `CONTRIBUTING.md` with the references used in the toolbox's `README.md`. This version is outdated and unmaintained, but I think that for the purpose of the toolbox it does the job and we can link to this URL (adding the `#name-of-the-section` accordingly):

https://github.

[2018-10-10 20:15] Lrodlima commented on #202
Cool I will do it. :muscle:

[2018-10-26 12:15] willianpaixao commented on #126
@silviodc Any news towards this issue?
Would you mind publishing your latest results and writing what's left so someone else could pick up?
CC @cuducos

[2018-11-15 07:09] letssteal opened #205 "Config file for downloading datasets"

[2018-11-15 08:53] #205 closed

[2018-12-26 13:09] mnunes opened #206 "Cannot use ChamberDataset() to download data"
I was trying to download chamber of deputies reimbursements data using the following code:

    import numpy
    from serenata_toolbox.chamber_of_deputies.reimbursements import Reimbursements as ChamberDataset

    years = numpy.arange(2009, 2019, 1)

    for j in years:
        chamber = ChamberDataset(j, 'data_camara/')
        chamber()

However, this is the error I get when I run my code:

[2018-12-27 10:56] cuducos commented on #206
Yep, that's the case. Have they changed the URL or was the service temporarily down?

[2018-12-27 11:42] mnunes commented on #206
It seems some data is not available anymore. I did some research and if you try the following URLs, you get a 404 error:

[https://www.camara.leg.br/cotas/Ano-2009.csv.zip](https://www.camara.leg.br/cotas/Ano-2009.csv.zip)
[https://www.camara.leg.br/cotas/Ano-2010.csv.zip](https://www.camara.leg.br/cotas/Ano-2010.csv.zip)
[https://www.camara.leg.br/cotas/Ano-2011.csv.zip](https://www.camara.leg.br

[2018-12-27 18:53] cuducos commented on #206
That's interesting: I'm tweeting and tagging them, but feel free to send an official request and share what you find here ; )

[2018-12-28 13:15] jedibruno commented on #206
I have submitted yesterday (27/12/2018) a formal request for information about this issue to the Chamber of Deputies. Legally, they have roughly until the end of January 2019 to give an official answer. As soon as I received something I'll update here.

Just for the record, the formal request text (in Portuguese) was this one below. In case anything else is missing, just give me the tip and I can

[2018-12-28 18:05] mnunes commented on #206
I just checked and the data are back. This issue can be closed now.

[2018-12-28 21:49] jedibruno commented on #206
Yes, the Chamber of Deputies answered my request on the same day. Despite
not informing why the data was missing, they replied that the error was
corrected.

Em sex, 28 de dez de 2018 às 16:05, Marcus Nunes <notifications@github.com>
escreveu:

--
Bruno Schimitt Morassutti - Advogado
OAB/RS 93.297
55 51 99555-3910

[2018-12-29 12:40] cuducos commented on #206
[Closed as requested](https://github.com/okfn-brasil/serenata-toolbox/issues/206#issuecomment-450402021).

[2018-12-29 12:40] #206 closed

[2019-02-12 22:24] WalnerPessoa opened #212 "Error: SSL: CERTIFICATE_VERIFY_FAILED"
**What is the problem?**
The output is interrupted by an error and at there are no files in the `data/`.

<details>

[code]

</details>

**How can this be addressed?**
New comers might need help on how to approach or build a solution, maybe a step-by-step on how to address the issue can help

**Who could help with this issue?**
We know sometimes a good session of pair programming can do wonders, m

[2019-02-12 22:52] cuducos commented on #212
Hi @WalnerPessoa, I edited your post just to include the error message, translate one or other sentence and included the error message in the title. This way if others run into this same issue, it would be easier for them to find this issue, and they have all the information available here, ok?

Anyway, from your post I understand you're using macOS's Python 3.6, which happens to have no SSL certi

[2019-02-18 18:57] cuducos commented on #212
Closed as requested by @WalnerPessoa

[2019-02-18 18:57] #212 closed

[2019-03-23 08:30] #108 closed

[2019-06-10 22:20] vbernardes commented on #202
I was reading through **README.rst** and it seems the broken links are still there... I can take the URL provided by @cuducos and update the links, if that's all right.

[2019-06-28 01:08] michaelyan-coupa opened #216 "Where do the datasets download?"
Where do the datasets download? I followed the README and wrote up a python script to perform the downloads, however I cannot find them within the folder. Thanks!

[2019-06-28 01:30] cuducos commented on #216
From the `README.md`:

That is to say, the first argument is where data is stored. Have you used the first argument to direct the downloads to a specific folder? If you haven't, [the default is `data/`](https://github.com/okfn-brasil/serenata-toolbox/blob/master/serenata_toolbox/serenata-toolbox#L16).

[2019-06-28 23:05] michaelyan-coupa commented on #216
Are these the .xz files? If so, how do I open them? Thanks!

[2019-06-28 23:26] michaelyan-coupa commented on #216
Where can I access photos of the receipts? And where are the corresponding JSON files for the OCR extraction? I am referring to this post [https://github.com/okfn-brasil/serenata-de-amor/issues/188](url)

[2019-06-29 01:58] cuducos commented on #216
As I [explained elsewhere](https://github.com/okfn-brasil/serenata-de-amor/issues/188#issuecomment-506566472):

The code linked is as follows:

[code]

Does that make sense?

[2019-06-29 02:06] cuducos commented on #216
I see you've asked (but maybe deleted) about the `.xz` files, @michaelyan-coupa.

* Yes, they are tha data you're looking for 🎉
* They CSV compressed with LZMA 🖥
* You can open then normally (without decompress) with pandas (e.g. `pd.open_csv("reimburse,ents-2019.xz")` 🐼
* Alternatively you cam use `xz`  to decompress them and rename the resulting file to CSV with, for example, `xz --decompress re

[2019-07-28 09:35] igoragatti commented on #23
May I suggest activating the Wiki on Github so that documentation can be directly added to it?

[2019-11-16 21:28] willianpaixao opened #219 "Run tox tests in TravicCI"
PR #217 introduced `tox` replacing `pytest` as testing framework.
Although all the tests run locally, TravisCI jobs fail. [[1]](https://travis-ci.org/okfn-brasil/serenata-toolbox/builds/607411106)

According to the official TravisCI documentation, there's still work left to be done in order to have a successful build, since TravicCI and _tox_ don't have a good integration, needing a few workaround

[2019-11-17 01:48] lipemorais commented on #219
There is an issues that as far as I understand was introduced on #217 .

Each time that the `tox` command is executed it try to runs all the 3 Python versions(3.6, 3.7 and 3.8). The impact of it is that it takes a lot of time unnecessarily.

Ideally just one version should be executed for each stage. The job for Python 3.6 doesn't try to run 3.7 our 3.8, for example.

By the way I don't thinking t

[2019-11-17 08:16] willianpaixao commented on #219
@lipemorais I did noticed that and the PR is not yet finished. I will fix this before merging.

[2019-11-17 09:36] willianpaixao commented on #219
@lipemorais that issue was fixed.

[code]

I would like to run `tox` with '-e $TOXENV` flag but travis fails in passing the environment variable defined in matrix build, leaving only this option, of running all versions and skipping all but one per time. Not the most elegant ever, but in the future if travis fix this glitch we can improve this.

[2019-11-17 14:24] #219 closed

[2019-11-17 14:24] #216 closed

[2019-11-17 14:36] cuducos commented on #202
Closed by #215

[2019-11-17 14:36] #202 closed

[2019-11-17 14:37] cuducos commented on #57
Closed in favor of #218

[2019-11-17 14:37] #57 closed

[2020-01-02 20:15] cuducos opened #221 "We need to catch an HTTP error early in new years"
At this point:

https://github.com/okfn-brasil/serenata-toolbox/blob/73efa9401cb562be2b8f7df74b49aee25727e181/serenata_toolbox/chamber_of_deputies/reimbursements.py#L35

We need a solution such as @luizfzs made in https://github.com/okfn-brasil/serenata-de-amor/pull/510 -- since in the first days of the year, the toolbox might try to find the dataset for the current year (which might be still unpu

[2020-01-02 20:24] luizfzs commented on #221
To be honest, I started the fix on the toolbox but I was wondering that it would be an over-engineered solution, even though it's simple-ish, so I fixed it directly on Rosie.
I can definitely create the PR for the fix on the toolbox, but it will require a new change on Rosie to make the exception handling compatible.

[2020-01-02 20:45] cuducos commented on #221
Good point, you got me, @luizfzs!

I'll leave the issue open on the discretion of the current maintainers, but I personally rest my case  -- especially because the Chamber of Deputies adapter runs year by year... it might worth it to leave the error explicitly at this stage.